@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 16px /* Set the root font size to 16px */
  }
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
h1{
    font-family: Epilogue;
    font-size: 2.5rem;
    font-weight: 600 !important;
    text-align: center;
    color: #1A1A1A;
}
section{
    margin-top: 50px;
}
.navbar{
    transition: box-shadow 0.3s ease;
    z-index: 1000;
}
.navbar.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow when scrolled */
}
  .navbar .navbar-brand {
    color: #333;
  }

  .navbar .navbar-brand:hover {
    color: #555; 
  }
  .navbar .nav-link {
    color: #0c0c0c; 
    /* margin-right: 30px; */
    font-size: 1.1rem;
    margin-left: 30px;
  }
  

  .navbar-collapse.show ul.navbar-nav .nav-link {
    color: #333; 
  }
  .navbar-toggler {
    border-color: #333; 
  }
  
.home-section{
    padding: 5%;
    background-image: linear-gradient(102.71deg, #017DA3 0%, #973ECA 90.52%);
}
.home-section .header-info{
    color: rgb(252, 252, 252);
    margin-left: 20px;

}
.home-section .header-info h1{
    font-weight: 900;
    font-size: 4rem;
    text-align: left;
}
.home-section .header-info h3 span{
    font-weight: 600;
}
.home-section .header-info h3{
    /* line-height: 1rem; */
    font-size: 2rem;
    font-weight: 500;
}
.home-section .header-info p{
    margin-top: 20px;
    line-height: 2rem;
    font-size: 1.3rem;
    /* font-size: ; */
    letter-spacing: 1px;
}
.home-section .header-info button{
width: 15rem;
height: 4.5rem;
padding: 20px 34px 20px 34px;
gap: 10px;
border-radius: 46px ;
font-size:21px ;
font-weight: 600;
opacity: 0px;
color: #713394;
}

.form form,.Book-call form {
    border: 5px solid ridge;
    padding: 4%;
    border-radius: 20px;
    background-color: aliceblue;
    position: relative;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.home-section .form p ,.Book-call form p{
    position: relative;
    font-weight: 600;
    color: black;
    width: 80%;
    margin-left: 20px;
}
.form input{
    padding: 10px;
    width: 90%;
    height: 50px;
    margin: 10px;
    border: 5px solid ridge;
    border-radius: 15px;
    background-color: rgb(238, 238, 237);
    font-size: 14px;
    color: black;
}
.Book-call form p,.Book-call form h4{
    background-color:none !important;
    color: black;
    text-align: center;
}
.home-section .form .submit-button,.Book-call form .submit-button{
    /* width: 150px; */
    height: 50px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(35, 35, 35);
    color: aliceblue;
    font-weight: 600;
    border-radius: 20px;
    font-size: 16px;
    position: relative;
    /* margin-left: 30%; */
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.Placed-count{
    margin: 5rem 0 1rem 0 !important;
    padding: 1rem 0 1rem 0;
    box-shadow: 0px -1px 16.1px 0px #ECCAFF;

}
.Placed-count .Number{
    font-size: 2.5rem;
    font-weight: 900;
    color: #713394;
    line-height: 61.29px
}
.Placed-count .information{
border-right:  0.55px solid #1A1A1A ;
/* display: flex; */
}
.Placed-count .name{
    font-family: Epilogue;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
}
.Placed-count .highlight{
font-family: Epilogue;
font-size: 2rem;
font-weight: 600;
text-align: left;
text-transform: uppercase;
}

.Placed-count .card{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 5px solid rgb(155, 155, 155); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1);
    
}
.Placed-count .points{
    display: flex;
      flex-wrap: wrap;
    justify-content: space-evenly;  
    margin-top: 20px;
    margin-bottom: 20px;  
}
.Placed-count .points p{
    
    border: 2px groove rgb(172, 172, 172);
    border-radius: 30px;
    padding: 3px 20px 3px 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.hiring-partner{
    margin-top: 5rem;
    text-align: center;

}
.hiring-partner .hiring-info{
    text-align: center !important;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hiring-partner .hiring-info h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hiring-partner .company-logo{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hiring-partner button,.curriculum  .downlod-btn{
    background-color: #0142A3;
    color: white;
    /* width: 10rem; */
    font-size: 1.2rem;
    position: relative;
    padding: 5px 20px 5px 20px;
    border-radius: 46px;
    border-color: #0142A3 ;
}
.course-info{
    margin-top: 200px;
    margin-bottom: 200px;

}
.course-info section{
    margin-top: 100px;
}
.creative-carrer .information{
    margin-top: 30px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.creative-carrer .card{
    background-color: #017DA3;
    color: rgb(249, 249, 249);
    padding: 40px;
    border-radius: 26px;
    position: relative;
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    margin: 30px;
}
.creative-carrer .card img{
    width: 32px;
    height: 32px;
    margin-left: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.creative-carrer .tools img{
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.curriculum{
    margin-top: 40px;
    text-align: center;
    
}
.curriculum h1{
    position: relative;
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.curriculum .accordion-item{
    width: 100%;
    border-radius: 5px solid;
    margin-top: 20px;
}
.curriculum .accordion-item .faq{
    display: flex !important;
    justify-content: space-between;
    border-radius: 5px solid;

}
.curriculum .accordion-item .faq p{
    margin-right: 20px;
}
.certificate{
    margin  : 30px 0 30px 0;
    background-color: #F1F1F1;
    padding: 1rem 0 2rem 0;
    
}
.certificate h1{
    margin: 30px 0 60px 0;
}
.certificate img{
    width: 75%;
    margin: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.internship h1{
    margin: 2.5rem 0 2.5rem 0;
}
.internship .information{
    color: #F1F1F1;
    background: linear-gradient(102.88deg, #017DA3 42.57%, #75DEFF 99.38%);
    padding: 20px 100px 20px 50px;

}
.internship .information p,.internship .information li{
    font-size: 1.2rem;
}
.internship  img{
    width: 100%;
}
.Book-call{
    color: #F1F1F1;
    background: linear-gradient(106.98deg, #017DA3 1.4%, #00455A 96.62%);
    padding: 50px 0 50px 0;

}
.Book-call h3{
    text-align: center;
    margin-top: 5rem;

}
footer{
    margin-top: 10rem;
    background-color: #1A1A1A;
    padding: 5rem 2rem 3rem 2rem;
}
footer .info{
    position: relative;
    justify-content: center;
    align-items: center;

}
footer .social img{
    margin: 20px;
    color: white;
}
footer h4, footer p{
    color: white;
}
footer input,footer button{
    padding: 10px 20px 10px 20px;
    border-radius: 48px;
}



.placement{
    text-align: center;
}
.placement .container {
    display: flex;
}
.placement .placement-slider-div {
    border: 2px ridge rgb(209, 208, 208);
    border-radius: 20px;
    padding: 10px;
    flex: 1;
    align-items: stretch;
    height: 150px;
}
.placement img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.placement .placed-student-info {
    display: flex;
}
.placement .placed-student-name {
    margin-left: 20px;
    color: #2d2424;
}
.placement .placed-student-name img {
    width: 30px;
    height: 30px;
}
.placement .package {
    font-weight: 600;
    font-size: 18px;
    width: 150px;
    color: #1404c9;
    text-align: center;

    /* background-color: #d4e1f1; */
    /* color: white; */
    /* border: 2px ridge; */
    /* padding: 10px; */

    /* margin: auto; */
}
.placement .feedback p {
    color: #171717;
    margin-top: 20px;
}
.placement .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navbar{
    padding: 0 60px 0 60px;
}
.navbar .navbar-brand img {
    height: 3rem; 
    width: 1rem;
 }
 
 .navbar-nav .nav-link.active{
    color:  #713494 !important;
    text-decoration: underline;
}
.navbar  .nav-link .Contact{
    background-color: #713494 !important;
    color: white !important;

  }
  .navbar .nav-link {
    color: #0c0c0c; 
    /* margin-right: 30px; */
    font-size: 1.1rem;
    margin-left: 30px;
  }
  .hero-section{
    margin-top: 4rem;
  }
  .hero-section .head-section{
    padding-left: 5rem;
  }
  .hero-section .main-info{
        padding-top: 5rem;
        padding-right: 3rem;
}
.hero-section .main-info h1{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
}
.hero-section .main-info h2 span{
    color: #02857F;

}
.hero-section .main-info h2 .h2-head{
    font-weight: 600;
}
.hero-section .main-info .btn-demo{
    background-color: #02857F;
    border:none;
    border-radius:10px;
    color: #FFFFFF;
    padding: 5px 30px 5px 30px;
    margin-top: 3rem;
}

.hero-section  .batch-info{
    display: flex; 
    margin-top: 5rem;
    width: 50%;
    box-shadow: 5px 5px 5px 5px rgba(189, 189, 189, 0.2);
}

.hero-section  .batch-info .Date {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}

.hero-section  .batch-info .Date p {
    display: block; 
}
.hero-section  .batch-info .Date   .data{
    font-weight: 600;
}

.Inquiry-section{
    position: relative;
    /* background: linear-gradient(180deg, #06B3AB 0%, #00615C 100%); */

}
.Inquiry-section form{
    position:absolute;
    margin-left: -5rem;
    padding: 2rem;
    margin-top: 15%;
    width: 80%;
    background-color: #FFFFFF;
    border: 1px ridge #c6c5c5 ;
    z-index: 1;
    border-radius: 10px;
}
.Inquiry-section form label{
    margin-top: 20px;

}
.Inquiry-section form input{
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    width: 100%;
    /* border:  ridge #eeeeee; */
}

.Inquiry-section form button{
    background-color: #713494;
    color: #FFFFFF;
    margin-top: 30px;
    text-align: center;
    width: 90%;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px 0 10px 0;
}

.Inquiry-section div{
    display: flex;
    height: 600px;
}

.form-container {
    margin-bottom: 20px; /* Space between form and colored sections */
}
.form-background {
    display: grid; 
    height: 200px; 
    width: 100%;
    display: flex;
}
.section1 {
    background-color: #7F9BAA;
    width: 10%;
}
.section2 {
    background-color: #06B3AB;
    width: 20%;
}
.section3 {
    background-color: #1F97BC;
    width: 30%;
}
.section4 {
    background-color: #8E40BA;
    width: 40%;
}
/* reviews testimonilsa */
.google-left-parent {
    height: 200px;
    margin-bottom: 0 !important;
}
.google-left-parent {
    padding: 12px 14px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.099);
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    height: 18rem;
}
.stars{
    margin-left: 30px;
}
.review-student{
    margin-top: 8rem;
}
.google-rating-left-parent p{
    font-weight: 500;
    font-size: 1.1rem;
}
.google-rating-image {
    border-radius: 14px;
    margin-right: 40px;
}
.google-rating-image .stars{
    width: 90%;
}
.google-rating-left-parent .google-image img{
    width: 80%;
}
.course-highlight{
    margin-top: 10%;
    margin-bottom: 10%;
}
.course-highlight img{
    width: 80%;
    height: 90%;
    border-radius: 20px;
}
.course-highlight .row{
    margin-top: 50px;
}
.course-highlight h3{
    margin-top: 20px;
}
.course-highlight .head1 {
    color: #00455A;
}
.course-highlight .head2 {
    color: palevioletred;
}
.course-highlight .head3 {
    color: #0142A3;
}
.course-highlight  button{
    width: 25%;
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    border:none;
}
@media (max-width: 600px) {
    .hero-section {
        margin-top: 30px;
    }
    .hero-section .main-info h1{
        font-size: 2.5rem;
    }
    .hero-section  .batch-info{
        width: 100%;
    }
    .Inquiry-section{
        margin-top: 6rem !important;
        width: 100%;
        display: inline-block; 
    }
    .Inquiry-section div{
        height: 400px;
        display: flex;
        flex-direction: column; 
        width: 100%;
        
    }
    .form-background {
        display: flex; 
        flex-direction: row; 
    }
    .Inquiry-section form{
        margin-top: -50px;
        margin-left: 1.5rem !important;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    .hero-section .head-section{
        padding-left: 10px;
      } 
      
}
@media (max-width: 950px) {

    .Inquiry-section form{
        margin-left: 5px;
    }
}
